table.bordered, table.bordered th, table.bordered td {
    border: 1px solid #ddd;
    vertical-align: top;
    padding: 1rem;
}


.CABI_Cards_Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
