/*Applies borders and padding to tables that have the class of .bordered applied*/
table.bordered, table.bordered th, table.bordered td {
    border: 1px solid #ddd;
    vertical-align: top;
    padding: 1rem;
}

table.bordered thead {
    background-color: #efe;
    font-size: 1.2rem;
}

/*creates the container on the front page that displays the cards*/
.CABI_Cards_Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Creates the cards withtin the above container*/
.CABI_Card {
    display: flex;
    flex: 1 0 220px;
    flex-direction: column;
    box-sizing: border-box;
    margin: 1rem 0.25em;
    border-color: #d7dfe3;
    border-style: solid;
    border-width: 2px;
}

/*Formats captions (note the correct class is CABIcaption, but attostylecaption is used in some historic courses*/
.CABIcaption ,.attostylescaption {
    font-size: 0.8rem;
    font-style: italic;
}

/*Hides the 'last modified' information */
.ion-padding-bottom.addon-mod_page-timemodified.ng-star-inserted {
 display: none; 
}

/*adds a margin below tables*/
table {
   margin-bottom: 0.5rem; 
}

/*Displays content in 2 side by side divs*/
/*create as many items within it by using <div class = "sidebysideitem   */
/*Specify the width of the items in percent by adding .p25 etc class to div*/

.sidebysidecontainer {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}

/*this class will get the right hand item to autosize to fit. This shouldn't be required,  but is left in in case any items exist in the site that use this*/
.sidebysideright {
  flex: 1;
padding: 5px;
}

.sidebysideitem {
padding: 5px;
}

.p25 {
  flex: 0 0 25%;
}

.p33 {
  flex: 0 0 33%;
}

.p50 {
  flex: 0 0 50%;
}

.p75 {
  flex: 0 0 75%;
}

/*If screensize is less than 700px, the first container is shown full width to force other items to wrap onto new line*/
@media screen and (max-width:700px) {
  .sidebysidecontainer { flex-wrap: wrap;  }
  .sidebysideitem:first-child { flex-basis: 100%; }
  .sidebysideitem:last-child { margin: auto; }
}
/*End of side by side containers*/

/*Where the tabbed filter is used, this hides the bulleted list, so the contents of the tabs are just shown as linear text - relies on each tab having a proper heading at the top of the tab*/
.filter-tabs-titlegroup-1, filter-tabs-titlegroup-1-printable {
  display: none;
}
